.post-in-feed {
    position: relative;
    border: 1px solid rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    background-color: white;
    /* margin-top: 5px; */
    margin-bottom: 10px;
    padding: 5px;
    min-height: 100px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* width: 50%; */
}

.header-in-post > img {
    width: 58px;
    height: auto;
}

.header-in-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    /* border: 1px solid rgb(209, 209, 209); */
}

.header-in-post-left {
    display: flex;
}

.header-in-post-right {
   /* border: 1px solid black; */
   display: flex;
   align-items: flex-end;
   position: relative;
   bottom: 11px;
   right: 4px;
}
.header-in-post-credentials {
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding-left: 10px;
}
.header-in-post-credentials div{
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 2px;
    margin-bottom: 2px;

}

.header-in-post-credentials h6{
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    color:rgb(120, 120, 120);
}

.header-in-post h5 {
    /* border: 1px solid black; */
    font-size: 35px;
    position: relative;
    bottom: 20px;
    color:rgb(120, 120, 120)
}

.post-body {
    padding: 10px;
}

.post-options-dropdown {
    position: absolute;
    top: 24px;
    right: 13px;
    z-index: 2;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.post-options-dropdown > * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 20px;
    text-align: left;
    background-color: white;
}

.post-options-dropdown > *:hover {
    background-color: #ccc;
    cursor: pointer;
}





.post-options-modal {
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 15%;
    height: 20%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
  }

  .post-options-modal-overlay {
    border:none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

hr {
    border-width: 1px;
  width: 25%;
}