.post-index-and-create-post {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid green; */
    max-width: 100%;
}
.start-a-post {
    /* width: 50%; */
    border: 1px solid rgb(209, 209, 209);
    display: flex;
    background-color: white;
    border-radius: 8px;
    align-items: center;
    /* min-height: 90px; */
}
.start-a-post-icon-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  height: 20%;
  width: 100%;
  padding: 15px;
  /* border: 1px solid black; */
}
.start-a-post-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* border: 1px solid black; */

}

.start-a-post-icon:hover {
  cursor: pointer;
}
.start-a-post-modal-opener {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 75%;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid black;
    height: 100;
    padding-right: 5px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    /* margin-left: 10px; */
}
.start-a-post-modal-opener:hover {
  cursor: pointer;
  background-color: rgb(242, 242, 242);
}

.post-index-and-create-post hr {
    width: 90%;
    color: 1px solid rgb(209, 209, 209);

}




.create-post-modal {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 50%;
    height: 70%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .create-post-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .modal-submit-footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
    margin-top: 15px;  
    /* bottom: 0; */
  }
.modal-submit {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    /* border: 1px solid black; */
  }
  
  .active {
    background-color: #0a66c2;
    color: white;
    transition: background-color 0.1s ease;
  }

  .active:hover {
    background-color: #004182;
    cursor: pointer;
  }
  
  .inactive {
    background-color: rgba(0,0,0,0.08);
    color: rgba(0,0,0,0.3);
    cursor: not-allowed;
    /* additional styles */
  }

  .create-post-modal {
    overflow: hidden;
  }

  .create-post-modal-header-and-close {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
  }
  .create-post-modal-header {
    display: inline-block;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    /* border: 1px solid black; */
    /* width: 30%; */
    padding: 10px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
  }

  .create-post-modal-header:hover{
    cursor: pointer;
    background-color: rgb(238, 238, 238);
  }

  .create-post-modal-header-content {
    margin-left: -5%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    
  }  

  .create-post-modal-header img {
    width: 70px;
    padding-right: 10px;
  }

  .create-post-modal-input-container {
    margin-top: 20px;
    /* border: 1px solid black; */
    width: 100%;
    height: 370px;
  }

  .create-post-modal-close {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    width: 6%;
    height: 40px;
    border-radius: 100%;
  }

  .create-post-modal-close img{
    width: 20px;
    /* border: 1px solid black; */
    border-radius: 50px;
    padding: 10px;
    transition: background-color 0.2s ease;
  }

  .create-post-modal-close img:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
  }
  .create-post-modal-content h6 {
    position: sticky;
    font-size: 30px;
    color:rgb(123, 123, 123);
    font-family: 'Courier New', Courier, monospace;
  }

  .create-post-modal-input-container textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    resize: none;
    overflow-y: auto;
    outline: none;
  }

  .create-post-modal-content hr {
    width: 99%;
    position: relative;
    border-color: rgba(0,0,0,0.08);
}