.post-in-feed {
    position: relative;
    border: 1px solid rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    background-color: white;
    /* margin-top: 5px; */
    margin-bottom: 10px;
    padding: 5px;
    min-height: 100px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* min-width: 300px; */
}

.header-in-post > img {
    min-width: 58px;
    height: auto;
    /* border: 1px solid black; */
    /* object-fit: cover; */
}

.header-in-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    /* border: 1px solid rgb(209, 209, 209); */
}

.header-in-post-left {
    display: flex;
}

.profile-picture-container {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    min-width: 50px;
    max-height: 50px;
    /* border: 1px solid black; */
}

.header-in-post-right {
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 11px;
    right: 4px;
}

.header-in-post-credentials {
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}

.header-in-post-credentials div {
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 2px;
    margin-bottom: 2px;

}

.header-in-post-credentials h6 {
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    color: rgb(120, 120, 120);
}

.header-in-post h5 {
    /* border: 1px solid black; */
    font-size: 35px;
    position: relative;
    bottom: 20px;
    color: rgb(120, 120, 120)
}

.header-in-post h5:hover {
    cursor: pointer;
}

.post-body {
    padding: 10px;
}

.post-options-dropdown {
    position: absolute;
    top: 24px;
    right: 13px;
    z-index: 2;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.post-options-dropdown>* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 20px;
    text-align: left;
    background-color: white;
}

.post-options-dropdown>*:hover {
    background-color: #ccc;
    cursor: pointer;
}





.post-options-modal {
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 15%;
    height: 20%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

.post-options-modal-overlay {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.like-count-container {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.like-count {
    margin-left: 10px;
    color: grey;
}

.like-count:hover {
    cursor: pointer;
    color: #0a66c2;
    /* font-weight: 400; */
}

.like-count-image {
    margin-left: 10px;
    max-width: 15px;
}

hr {
    border-width: 1px;
    width: 25%;
}

.post-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.post-button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    /* color: rgb(140, 140, 140); */
    color: black;
    flex-grow: 1;
}

.post-button-container button:hover {
    background-color: #dcdcdc;
    cursor: pointer;
}

.post-button-container button img {
    max-width: 20px;
    /* border: 1px solid black; */
    padding-right: 5px;
}

.post-button-container .active-unlike-button {
   color: #0a66c2;
   background-color: #dcdcdc;

}

.add-comment-area-container {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.add-comment-container {
    display: flex;
    width: 90%;
    margin-left: 5px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 24px;
}

.add-comment-container textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-top: 9px;
    border: none;
    background-color: transparent;
    width: 80%;
    /* text-align: center; */
    resize: none;
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    height: 20px;
    outline: none;
    overflow: hidden;
    /* line-height: 20px; */
}

.add-comment-button {
    width: 20%;
    height: 25px;
    margin-left: 14%;
    margin-top: 1%;
    border-radius: 24px;
    border: none;
    color: white;
    background-color: #0a66c2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comments-container {
    margin-top: 20px;
}