.nav-bar {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-bar-left {
    display: flex;
    align-items: center;
    border: 1px solid green;

}
.nav-bar-left img {
    margin-left: -11px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.nav-bar-right {
    display: flex;
    align-items: center;
    border: 1px solid green;

}
.nav-bar-right-list {
    display: flex;

}

.nav-bar-right-list > li:nth-child(-n+2) {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-end;
    
}

.nav-bar-right-list > li:nth-child(-n+2) > a {
    padding-bottom: 20%;
}

.nav-bar-right-list-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    font-weight: 400;
    font-size: 12px;
    color: grey;
    max-height: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-bar-right-list img {
    width: 40px;
    height: auto;
    /* border: 1px solid black; */
}

.me-dropdown-modal {
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 15%;
    height: 20%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
  }

  .me-dropdown-modal-overlay {
    border:none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }