
.center-profile-main-page {
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}
.profile-main-page-left {
    /* border: 1px solid black; */
    width: 72%;
    height: 60vh;
    border-radius: 12px;
    background-color: white;

}

.profile-main-page-header {
    /* display: flex;
    align-items: center; */
    border: 1px solid rgb(205, 205, 205);
    /* height: 450px; */
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#banner {
    width: 100%;
    object-fit: cover;
    /* height: 30%; */
    /* z-index: 1; */
}

.profile-main-page-picture-container {
    position: relative;
    border-radius: 100px;
    width: 125px;
    height: 125px;
    margin-top: -8vh;
    margin-left: 5%;
    overflow:auto;
    border: 5px solid white;
    z-index: 3;
}
.profile-main-page-picture {
    width: 125px;
    /* object-fit: contain; */
}

.profile-main-page-name {
    margin-left: 5%;
    margin-top: 2vh;
    font-size: 24px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-main-page-bio {
    margin-left: 5%;
    margin-top: .5vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-main-page-location {
    margin-left: 5%;
    margin-top: 2vh;
    color: rgb(152, 152, 152);
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-main-page-connections-num {
    color: #0A66C2;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5%;
    margin-top: 1vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-button-container {
    margin-left: 5%;
    margin-top: 2vh;
}
.profile-follow-button {
    padding: 9px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 24px;
    color: white;
    font-weight: 500;
    border: none;
    background-color: #0A66C2;
    margin-right: 5px;
}

.profile-follow-button:hover {
    background-color: #004182;
}

.profile-message-button {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 24px;
    border: 1px solid #0A66C2;
    color: #0A66C2;
    background-color: white;
}
.profile-message-button:hover {
    background-color:rgb(233, 242, 249);
} 
.profile-button-container button:hover {
    cursor: pointer;
}