.feed-page {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 239, 239);
    height: 100vh;
    overflow: hidden;
}

.feed-page-nav {
    background-color: white;
    flex-shrink: 0;
    position: sticky;
    z-index: 1;
}

.feed-page-nav-content {
    margin-left: 175px;
    margin-right: 175px;
}

.feed-page-main {
    margin-left: 175px;
    margin-right: 175px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid red;
    min-width: 600px;
    background-color: rgb(240, 239, 239);
    height: 100%;
    padding-top: 25px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */
}

.feed-page-main::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

.feed-page-main-left {
    z-index: 2;
    display: flex;
    /* border: 1px solid black; */
    position: absolute;
    width: 200px;
    height: 100px;
}

.feed-page-main-index {
    display: flex;
    justify-content: center;
    align-items: start;
    /* border: 1px solid black; */
    /* margin-top: -300px; */
}