.auth-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 5px;
    height: 500px;
    /* border: 1px solid red; */
    width: 392px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.auth-input-container {
    padding-bottom: 20px;
}

.auth-input-container label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(85, 85, 85);
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.auth-input-box {
    /* padding-bottom: 20px; */
    display: flex;
    justify-content: center;
    width: 350px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid black; */
    border-radius: 4px;
    box-shadow: 0 0 0 1px black;
}


.auth-input-box:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    box-shadow: 0 0 0 2px black;
    cursor: pointer;
}

.auth-input-box input {
    padding-top: 4px;
    width: 350px;
    border: none;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background-color: rgb(238, 238, 238);
  }

input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background-color: rgb(238, 238, 238) !important;
  } */

.auth-input-box input:focus {
    outline: none;
  }

.auth-form button {
    width: 392px;
    height: 50px;
    background-color: #0a66c2;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 24px;
}

.auth-form button:hover {
    background-color: #004182;
    cursor: pointer;
}

.or_line_break {
    padding-top: 5px;
    padding-bottom: 5px;
}

.or_line_break h6 {
    position: relative;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
.or_line_break h6:before {
    content: "";
    display: block;
    width: 45%;
    height: 1px;
    background: rgb(184, 184, 184);;
    left: 0;
    top: 50%;
    position: absolute;
  }

  .or_line_break h6:after {
    content: "";
    display: block;
    width: 45%;
    height: 1px;
    background: rgb(184, 184, 184);;
    right: 0;
    top: 50%;
    position: absolute;
}

.auth-form .change-link {
    padding-top: 12px;
    background-color: white;
    color: rgb(85, 85, 85);
    border-color: rgb(85, 85, 85);
}

.auth-form .change-link:hover {
    background-color: rgb(238, 238, 238);
    color: black;
}


/* -------------------Start of sign in form page---------------------- */

.auth-form-page-header {
    padding-top: 30px;
    padding-left: 80px;
}

.auth-form-page-form-holder {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px ;
}

.auth-form-page-form {
    /* border: 1px solid green; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 435px;
    height: 600px;
    border-radius: 8px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
    padding-left: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* min-height: 80vh; */
}

.auth-form-page-form h1 {
    font-weight: 500;
    font-size: 32px;
}

.auth-form-page-form h5 {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
}